:root {
}

body {
	margin: 0;
	transition: background-color var(--Xl-effectsTimeCode);
	background-color: var(--Xl-background-color);
}

p {
	margin: 0rem;
	margin-bottom: 0.35rem;
	color: var(--Xl-text-color);
	font-size: var(--Xl-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
