:root {
}

body {
	margin: 0;
	transition: background-color var(--Xl-effectsTimeCode);
	background-color: var(--Xl-background-color);
}

p {
	margin: 0rem;
	margin-bottom: 0.2rem;
	color: var(--Xl-text-color);
}
