* {
	font-family: 'Century Gothic', sans-serif;
	font-weight: 100;
	letter-spacing: -0.02rem;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('/fonts/century-gothic-original/century-gothic.ttf') format('truetype');
	font-style: normal;
}
